<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.caldm.www.post_context.infrastructure.persistence.mapper.BlogPostTagRelationMapper">
    <insert id="insertBatch" parameterType="list">
        INSERT INTO blog_post_tag_relation (post_id, tag_id, create_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.postId}, #{item.tagId}, #{item.createTime})
        </foreach>
    </insert>
</mapper>